@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animaciones para la cinta deslizante con diferentes velocidades */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

.animate-scroll-fast {
  animation: scroll 15s linear infinite;
}

.animate-scroll-very-fast {
  animation: scroll 7.5s linear infinite;
}

/* Pausa la animación al hacer hover */
.animate-scroll:hover,
.animate-scroll-fast:hover,
.animate-scroll-very-fast:hover {
  animation-play-state: paused;
}