@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animación para la cinta deslizante */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

/* Pausa la animación al hacer hover */
.animate-scroll:hover {
  animation-play-state: paused;
}